//theme colors
// white       rgba(255, 255, 255, 1)
//peach       rgba(244, 220, 197, 1)
// grey-medium rgba(66, 66, 66, 1)   circle stroke
// grey-med2   rgba(33, 33, 33, 1)   circle fill
// black-light rgba(21, 19, 18, 1)
// grey-dark   rgba(32, 29, 28, 1)
// grey-light  rgba(50, 46, 44, 1)





// theme colors
$white: rgba(255, 255, 255, 1);
$peach: #f4dcc5;
$pink: #fba5da;
// $g-100: #97E0E9;
// $g-200: #31718C;
// $g-300: #124559;
//$g-400: #212529;
$g-100: rgb(110, 110, 110);
$g-200: rgb(200 165 147);
$g-300: rgb(153 141 135);
$g-400: rgba(32, 29, 28, 1);
$light: $g-300;

// $gray-300: rgba(33, 33, 33, 1);
// $gray-400: rgba(32, 29, 28, 1);


// $neon1: $peach;
$neon: $peach;
$light-1: $g-100;
$light-2: $g-200;
$dark-1: $g-300;
$dark-2: $g-400;


@import "../node_modules/bootstrap/scss/bootstrap.scss";


html {
    font-family: 'PT Sans', sans-serif;
    font-family: 'VT323', monospace;
    // transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

    h1,
    h2,
    h4,
    h5,
    h6,
    p {
        font-family: 'PT Sans', sans-serif;
    }

    h1 {
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 0.5rem;
        color: $g-200;
    }

    h2 {
        font-size: 3rem;
        font-weight: 600;
        // letter-spacing: 0.2rem;
        color: $g-300;
    }

    h3 {
        font-family: 'VT323', monospace;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        color: $peach;
    }

    h4 {
        font-size: 4rem;
        font-family: 'VT323', monospace;
        letter-spacing: 0.2rem;
    }

    h5 {
        font-size: 2rem;
        font-weight: 300;
        color: $g-200;
    }

    h6 {
        font-size: 1rem;
        font-weight: 200;
        color: $g-300;
        // letter-spacing: 0.5rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 100;
        // letter-spacing: 0.5rem;
        word-spacing: 0.2 rem;
        color: $g-300;

    }

    span {
        font-family: 'VT323', monospace;
    }


    @include media-breakpoint-down(md) {
        .hero {
            background-color: $dark-2;
            padding: 2rem;
            height: fit-content;

            .h2 {
                text-align: left;
                font-size: 2.5rem;
            }

        }

        .project {
            padding: 1rem !important;
            padding-top: 3rem !important;
            padding-bottom: 3rem !important;
            text-align: center;

            .h4 {
                padding: 1rem;
                font-size: 3rem;
            }
        }

        .about {
            h4 {
                text-align: center;
                //justify-content: end;
                width: 100% !important;
                padding-right: 0rem !important;
            }

            .pic1 {

                .pic {
                    height: 15rem;
                    width: 15rem;
                }
            }

            .about-body {
                padding: 2rem;
            }


            .i-do {
                flex-direction: column;
                padding: 4rem;
            }
        
        }


        .footer{
            padding: 1rem;
        }

    }


}


//////////////scrollbar////////////
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: $dark-2;
    //border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    // -webkit-box-shadow: inset 0 0 6px rgba(5, 4, 4, 0.5);
    background: $g-300;
}

// ::-webkit-scrollbar-thumb:hover {
//     background: $light-2;
// }