@use '../custom' as *;

.about {
    height: fit-content;
    width: 100%;
    background-color: $g-400;
    display: flex;
    flex-direction: column;


    .about-body {
        padding: 2rem 8rem 2rem 8rem;
        text-align: center;
        justify-content: center;
    }

    h4 {
        text-transform: capitalize;
        color: $g-300;
        text-align: end;
        //justify-content: end;
        width: 100%;
        padding-right: 15rem;
    }

    span {
        color: $peach;
    }
    .pic1{
        display: flex;
        justify-content: center;
        .pic{
            height:20rem;
            width:20rem;
            object-fit: cover;
            border-radius: 50%;
           
        }
    }
    .i-do {
        display: flex;
        flex-direction: row;
        padding: 6rem;
        padding-top: 2rem;

        text-align: center;
        border-bottom: solid 0.05rem $g-300;

        .dev {
            padding: 1rem;

            .c-img {
                height: 6rem;
                width: 6rem;
                justify-content: center;

            }
        }

        .design {
            padding: 1rem;
        }

        img {
            height: 3rem;
            width: 3rem;
            // padding: 2rem;
        }
    }

    .do {
        padding-top: 6rem;
    }

}