@use '../custom' as *;

.footer{
    background-color: $dark-2;
    height: fit-content;
    padding: 3rem;
    border-top: solid 0.05rem $g-300;


    .d-flex{
        justify-content: center;
    }
    a{
        text-decoration: none;
        padding: 1rem;
        color: $g-300;
    }
    a:hover{
        color: $peach;
    }
    .h6{
        text-align: center;
        color: $g-100;
        margin-bottom: 0;
    }
    .github{
        margin-top: 1rem;
        margin-bottom: .5rem;
        
    }
}