@use '../custom' as *;

.footer{
    background-color: $light;
    height: fit-content;
    padding: 3rem;
    

    .d-flex{

    }

    a{
        padding: 1rem;
        //color: $gray-100;
    }
    .h6{
        text-align: center;
        color: $gray-100;
        margin-bottom: 0;
    }
    .made_w{
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
}