@use '../custom' as *;


.hero {
    background-color: $dark-2;
    padding: 6rem 20rem 20rem 5rem;
    height: fit-content;

    // h1 {
    //     animation-delay: 5s;
    // }

    .h2 {
        text-align: left;
    }

    // .typewriter {
    //     overflow: hidden;
    //     /* Ensures the content is not revealed until the animation */
    //     //border-right: .15em solid orange; /* The typwriter cursor */
    //     white-space: nowrap;
    //     /* Keeps the content on a single line */
    //     margin: 0 auto;
    //     /* Gives that scrolling effect as the typing happens */
    //     animation:
    //         typing 3.5s steps(40, end),
    //         blink-caret .75s step-end infinite;
    // }

    // /* The typing effect */
    // @keyframes typing {
    //     from {
    //         width: 0
    //     }

    //     to {
    //         width: 100%
    //     }
    // }

}