@use '../custom' as *;


.project {
    padding: 4rem !important;
    // padding-top: 5rem !important;
    background: $dark-2  !important;
    height: fit-content;

    span {
        color: $peach;
        padding-right: 1rem;
    }

    .h4 {
        // font-weight: 700;
        letter-spacing: 0.3rem;
        // text-align: center;
        padding: 2rem;
        padding-left: 5rem;


    }
    .card-grp{
        // display: inline-block;
        text-align: center;
        align-items: center;
        padding: 5rem;
        height: fit-content;
    }
    
    .card {
        
        display: inline-block;
        background: rgb(39 36 34);
        height: 20rem;
        width: 18rem;
        min-width: 18rem;
        text-align: left;
        justify-content: right;
        align-items: center;
        margin: 0.5rem;
        vertical-align: top;



        box-shadow: 0 6px 10px rgba(8, 8, 8, 0.696), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        cursor: pointer;

        // img {
        //     width: 100%;
        //     height: 20rem;
        //     object-fit: cover;

        // }


        // .card-img-overlay {

        //     background: rgb(0, 0, 0);
        //     background: rgba(0, 0, 0, 0.5);
        //     /* Black see-through */
        //     width: 100%;
        //     transition: .5s ease;
        //     opacity: 0;

        // }

        // .btn {
        //     margin-top: 50%;
        //     width: 50%;
        // }

        .head {
            padding: 1rem;
            // padding-bottom: 1rem;
            border-bottom: solid 0.1rem $g-300;
            padding-top: 0;
        }

        h5 {
            padding: 0.5rem;
        }

        p {
            padding: 0.5rem;
            font-size: 1rem;
        }

        .card-subtitle {
            padding: 0.5rem;
            position: absolute;
            bottom: 0.5rem;

        }

        a {
            color: $peach;
        }
    }


    .card:hover {
        // background-color: #2526274f;

        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

        .card-img-overlay {
            opacity: 1;
        }

    }


}