@use '../custom' as *;

.skills {
    background: $light;
    width: 100%;
    height: fit-content;
    padding: 3rem;

    .h2 {
        text-transform: capitalize;

    }

    li {
        color: $white;
        list-style: none;
    }

    .f_dev {
        align-items: flex-start;
        width: 50%;

        ul {
            padding-left: 1.5rem;
            border-left: 0.2rem solid $white ;

        }
    }

    .ui_des {
        justify-content: right;
        align-items: center;
        width: 50%;

        li {
            text-align: right;
        }

        ul {
            padding-right: 1.5rem;
            padding-left: 0;
        }
    }
}